<!-- <app-header></app-header>
<div class="container"> -->
<!--this is built in directive it is using glue between html and router module configuration-->
<!-- <router-outlet> </router-outlet>
</div>
<div class="container">
  <app-users></app-users>
</div> 
 <div class="container">
  <course></course>
</div>  -->
<!-- <app-header></app-header> -->
<!-- <app-loginform></app-loginform> -->
<!-- <div class="container"><app-form></app-form></div> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-students></app-students> -->
<!-- <div class="container">
  <app-contact></app-contact>
  <div class="row">
    <div class="col-md-6">
      <app-login>
        <h1 id="login">Login</h1>
        <button id="btn">login</button>
        <div><span>dont have account Please</span></div>
        <a href="./register">Register</a>
      </app-login>
    </div>
    <div class="col-md-6">
      <app-login>
        <h1 id="register">Register</h1>
        <button id="registerbtn">register</button>
        <div><span>already register Please</span></div>
        <a href="./login">login</a>
      </app-login>
    </div>
  </div>
</div> -->
<!-- <router-outlet> </router-outlet>
<app-home></app-home> -->
<!-- <course></course> -->
<!-- <app-api></app-api> -->
<app-player-id></app-player-id>
